In [42]:
import pandas as pd

In [51]:
file = 'matches_2022.csv'
recent_data = pd.read_csv(file)
home_team_name = recent_data[['home_team']]                     # 主队
away_team_name = recent_data[['away_team']]                     # 客队
home_team_score = recent_data[['home_score']]
away_team_score = recent_data[['away_score']]
recent_col = pd.concat([home_team_name,away_team_name,home_team_score,away_team_score], axis=1)
recent_col

         home_team       away_team  home_score  away_score
0            Qatar         Ecuador         0.0         2.0
1          England         IR Iran         6.0         2.0
2    United States           Wales         1.0         1.0
3          Senegal     Netherlands         0.0         2.0
4           France       Australia         4.0         1.0
5           Mexico          Poland         0.0         0.0
6          Denmark         Tunisia         0.0         0.0
7        Argentina    Saudi Arabia         1.0         2.0
8          Belgium          Canada         1.0         0.0
9            Spain      Costa Rica         7.0         0.0
10         Germany           Japan         1.0         2.0
11         Morocco         Croatia         0.0         0.0
12     Switzerland        Cameroon         NaN         NaN
13         Uruguay  Korea Republic         NaN         NaN
14        Portugal           Ghana         NaN         NaN
15          Brazil          Serbia         NaN         NaN
16         England   United States         NaN         NaN
17     Netherlands         Ecuador         NaN         NaN
18           Qatar         Senegal         NaN         NaN
19           Wales         IR Iran         NaN         NaN
20         Tunisia       Australia         NaN         NaN
21       Argentina          Mexico         NaN         NaN
22          France         Denmark         NaN         NaN
23          Poland    Saudi Arabia         NaN         NaN
24           Spain         Germany         NaN         NaN
25         Belgium         Morocco         NaN         NaN
26           Japan      Costa Rica         NaN         NaN
27         Croatia          Canada         NaN         NaN
28        Portugal         Uruguay         NaN         NaN
29          Brazil     Switzerland         NaN         NaN
30  Korea Republic           Ghana         NaN         NaN
31        Cameroon          Serbia         NaN         NaN
32         IR Iran   United States         NaN         NaN
33           Wales         England         NaN         NaN
34         Ecuador         Senegal         NaN         NaN
35     Netherlands           Qatar         NaN         NaN
36         Tunisia          France         NaN         NaN
37    Saudi Arabia          Mexico         NaN         NaN
38          Poland       Argentina         NaN         NaN
39       Australia         Denmark         NaN         NaN
40      Costa Rica         Germany         NaN         NaN
41           Japan           Spain         NaN         NaN
42         Croatia         Belgium         NaN         NaN
43          Canada         Morocco         NaN         NaN
44        Cameroon          Brazil         NaN         NaN
45          Serbia     Switzerland         NaN         NaN
46           Ghana         Uruguay         NaN         NaN
47  Korea Republic        Portugal         NaN         NaN

In [58]:
recent_col.loc[recent_col['home_score'] > recent_col['away_score'], 'label'] = '胜利'
recent_col.loc[recent_col['home_score'] < recent_col['away_score'], 'label'] = '失败'
recent_col.loc[recent_col['home_score'] == recent_col['away_score'], 'label'] = '平局'
recent_col = recent_col.iloc[0:12,]       # 只要在本次比赛出现结果的球队
recent_col

        home_team     away_team  home_score  away_score label
0           Qatar       Ecuador         0.0         2.0    失败
1         England       IR Iran         6.0         2.0    胜利
2   United States         Wales         1.0         1.0    平局
3         Senegal   Netherlands         0.0         2.0    失败
4          France     Australia         4.0         1.0    胜利
5          Mexico        Poland         0.0         0.0    平局
6         Denmark       Tunisia         0.0         0.0    平局
7       Argentina  Saudi Arabia         1.0         2.0    失败
8         Belgium        Canada         1.0         0.0    胜利
9           Spain    Costa Rica         7.0         0.0    胜利
10        Germany         Japan         1.0         2.0    失败
11        Morocco       Croatia         0.0         0.0    平局

In [62]:
path = 'matches_1930_2018.csv'
# 使用pandas读入
data = pd.read_csv(path)                            # 读取文件中所有数据
home_team_name = data[['home_team']]                     # 主队
away_team_name = data[['away_team']]                     # 客队
home_team_score = data[['home_score']]
away_team_score = data[['away_score']]
compete_year = data[['Year']]
df_col = pd.concat([home_team_name,away_team_name,home_team_score,away_team_score,compete_year], axis=1,sort=True)
df_col

         home_team away_team  home_score  away_score  Year
0           France   Croatia           4           2  2018
1          Belgium   England           2           0  2018
2          Croatia   England           2           1  2018
3           France   Belgium           1           0  2018
4           Sweden   England           0           2  2018
..             ...       ...         ...         ...   ...
895      Argentina    France           1           0  1930
896     Yugoslavia    Brazil           2           1  1930
897        Romania      Peru           3           1  1930
898  United States   Belgium           3           0  1930
899         France    Mexico           4           1  1930

[900 rows x 5 columns]

In [70]:
import pandas as pd
import numpy as np
data = df_col.loc[3:,]
data_array = np.array(data.stack()) # 首先将pandas读取的数据转化为array
data_list = data_array.tolist() # 然后转化为list形式
data_list

['France',
 'Belgium',
 1,
 0,
 2018,
 'Sweden',
 'England',
 0,
 2,
 2018,
 'Russia',
 'Croatia',
 2,
 2,
 2018,
 'Uruguay',
 'France',
 0,
 2,
 2018,
 'Brazil',
 'Belgium',
 1,
 2,
 2018,
 'Sweden',
 'Switzerland',
 1,
 0,
 2018,
 'Colombia',
 'England',
 1,
 1,
 2018,
 'Brazil',
 'Mexico',
 2,
 0,
 2018,
 'Belgium',
 'Japan',
 3,
 2,
 2018,
 'Spain',
 'Russia',
 1,
 1,
 2018,
 'Croatia',
 'Denmark',
 1,
 1,
 2018,
 'France',
 'Argentina',
 4,
 3,
 2018,
 'Uruguay',
 'Portugal',
 2,
 1,
 2018,
 'Japan',
 'Poland',
 0,
 1,
 2018,
 'Senegal',
 'Colombia',
 0,
 1,
 2018,
 'England',
 'Belgium',
 0,
 1,
 2018,
 'Panama',
 'Tunisia',
 1,
 2,
 2018,
 'Korea Republic',
 'Germany',
 2,
 0,
 2018,
 'Mexico',
 'Sweden',
 0,
 3,
 2018,
 'Switzerland',
 'Costa Rica',
 2,
 2,
 2018,
 'Serbia',
 'Brazil',
 0,
 2,
 2018,
 'Australia',
 'Peru',
 0,
 2,
 2018,
 'Denmark',
 'France',
 0,
 0,
 2018,
 'Iceland',
 'Croatia',
 1,
 2,
 2018,
 'Nigeria',
 'Argentina',
 1,
 2,
 2018,
 'Saudi Arabia',
 'Egypt',
 2,
 1,
 2018,
 'Uruguay',
 'Russia',
 3,
 0,
 2018,
 'Spain',
 'Morocco',
 2,
 2,
 2018,
 'IR Iran',
 'Portugal',
 1,
 1,
 2018,
 'England',
 'Panama',
 6,
 1,
 2018,
 'Japan',
 'Senegal',
 2,
 2,
 2018,
 'Poland',
 'Colombia',
 0,
 3,
 2018,
 'Belgium',
 'Tunisia',
 5,
 2,
 2018,
 'Korea Republic',
 'Mexico',
 1,
 2,
 2018,
 'Germany',
 'Sweden',
 2,
 1,
 2018,
 'Brazil',
 'Costa Rica',
 2,
 0,
 2018,
 'Nigeria',
 'Iceland',
 2,
 0,
 2018,
 'Serbia',
 'Switzerland',
 1,
 2,
 2018,
 'Denmark',
 'Australia',
 1,
 1,
 2018,
 'France',
 'Peru',
 1,
 0,
 2018,
 'Argentina',
 'Croatia',
 0,
 3,
 2018,
 'Portugal',
 'Morocco',
 1,
 0,
 2018,
 'Uruguay',
 'Saudi Arabia',
 1,
 0,
 2018,
 'IR Iran',
 'Spain',
 0,
 1,
 2018,
 'Colombia',
 'Japan',
 1,
 2,
 2018,
 'Poland',
 'Senegal',
 1,
 2,
 2018,
 'Russia',
 'Egypt',
 3,
 1,
 2018,
 'Sweden',
 'Korea Republic',
 1,
 0,
 2018,
 'Belgium',
 'Panama',
 3,
 0,
 2018,
 'Tunisia',
 'England',
 1,
 2,
 2018,
 'Costa Rica',
 'Serbia',
 0,
 1,
 2018,
 'Germany',
 'Mexico',
 0,
 1,
 2018,
 'Brazil',
 'Switzerland',
 1,
 1,
 2018,
 'France',
 'Australia',
 2,
 1,
 2018,
 'Argentina',
 'Iceland',
 1,
 1,
 2018,
 'Peru',
 'Denmark',
 0,
 1,
 2018,
 'Croatia',
 'Nigeria',
 2,
 0,
 2018,
 'Egypt',
 'Uruguay',
 0,
 1,
 2018,
 'Morocco',
 'IR Iran',
 0,
 1,
 2018,
 'Portugal',
 'Spain',
 3,
 3,
 2018,
 'Russia',
 'Saudi Arabia',
 5,
 0,
 2018,
 'Germany',
 'Argentina',
 1,
 0,
 2014,
 'Brazil',
 'Netherlands',
 0,
 3,
 2014,
 'Netherlands',
 'Argentina',
 0,
 0,
 2014,
 'Brazil',
 'Germany',
 1,
 7,
 2014,
 'Argentina',
 'Belgium',
 1,
 0,
 2014,
 'Netherlands',
 'Costa Rica',
 0,
 0,
 2014,
 'France',
 'Germany',
 0,
 1,
 2014,
 'Brazil',
 'Colombia',
 2,
 1,
 2014,
 'Argentina',
 'Switzerland',
 1,
 0,
 2014,
 'Belgium',
 'United States',
 2,
 1,
 2014,
 'France',
 'Nigeria',
 2,
 0,
 2014,
 'Germany',
 'Algeria',
 2,
 1,
 2014,
 'Netherlands',
 'Mexico',
 2,
 1,
 2014,
 'Costa Rica',
 'Greece',
 1,
 1,
 2014,
 'Brazil',
 'Chile',
 1,
 1,
 2014,
 'Colombia',
 'Uruguay',
 2,
 0,
 2014,
 'United States',
 'Germany',
 0,
 1,
 2014,
 'Portugal',
 'Ghana',
 2,
 1,
 2014,
 'Korea Republic',
 'Belgium',
 0,
 1,
 2014,
 'Algeria',
 'Russia',
 1,
 1,
 2014,
 'Bosnia and Herzegovina',
 'IR Iran',
 3,
 1,
 2014,
 'Nigeria',
 'Argentina',
 2,
 3,
 2014,
 'Honduras',
 'Switzerland',
 0,
 3,
 2014,
 'Ecuador',
 'France',
 0,
 0,
 2014,
 'Costa Rica',
 'England',
 0,
 0,
 2014,
 'Italy',
 'Uruguay',
 0,
 1,
 2014,
 'Japan',
 'Colombia',
 1,
 4,
 2014,
 'Greece',
 "Côte d'Ivoire",
 2,
 1,
 2014,
 'Australia',
 'Spain',
 0,
 3,
 2014,
 'Netherlands',
 'Chile',
 2,
 0,
 2014,
 'Croatia',
 'Mexico',
 1,
 3,
 2014,
 'Cameroon',
 'Brazil',
 1,
 4,
 2014,
 'Belgium',
 'Russia',
 1,
 0,
 2014,
 'Korea Republic',
 'Algeria',
 2,
 4,
 2014,
 'United States',
 'Portugal',
 2,
 2,
 2014,
 'Argentina',
 'IR Iran',
 1,
 0,
 2014,
 'Germany',
 'Ghana',
 2,
 2,
 2014,
 'Nigeria',
 'Bosnia and Herzegovina',
 1,
 0,
 2014,
 'Italy',
 'Costa Rica',
 0,
 1,
 2014,
 'Switzerland',
 'France',
 2,
 5,
 2014,
 'Honduras',
 'Ecuador',
 1,
 2,
 2014,
 'Colombia',
 "Côte d'Ivoire",
 2,
 1,
 2014,
 'Uruguay',
 'England',
 2,
 1,
 2014,
 'Japan',
 'Greece',
 0,
 0,
 2014,
 'Australia',
 'Netherlands',
 2,
 3,
 2014,
 'Spain',
 'Chile',
 0,
 2,
 2014,
 'Cameroon',
 'Croatia',
 0,
 4,
 2014,
 'Belgium',
 'Algeria',
 2,
 1,
 2014,
 'Brazil',
 'Mexico',
 0,
 0,
 2014,
 'Russia',
 'Korea Republic',
 1,
 1,
 2014,
 'Germany',
 'Portugal',
 4,
 0,
 2014,
 'IR Iran',
 'Nigeria',
 0,
 0,
 2014,
 'Ghana',
 'United States',
 1,
 2,
 2014,
 'Switzerland',
 'Ecuador',
 2,
 1,
 2014,
 'France',
 'Honduras',
 3,
 0,
 2014,
 'Argentina',
 'Bosnia and Herzegovina',
 2,
 1,
 2014,
 'Colombia',
 'Greece',
 3,
 0,
 2014,
 'Uruguay',
 'Costa Rica',
 1,
 3,
 2014,
 'England',
 'Italy',
 1,
 2,
 2014,
 "Côte d'Ivoire",
 'Japan',
 2,
 1,
 2014,
 'Mexico',
 'Cameroon',
 1,
 0,
 2014,
 'Spain',
 'Netherlands',
 1,
 5,
 2014,
 'Chile',
 'Australia',
 3,
 1,
 2014,
 'Brazil',
 'Croatia',
 3,
 1,
 2014,
 'Netherlands',
 'Spain',
 0,
 1,
 2010,
 'Uruguay',
 'Germany',
 2,
 3,
 2010,
 'Germany',
 'Spain',
 0,
 1,
 2010,
 'Uruguay',
 'Netherlands',
 2,
 3,
 2010,
 'Argentina',
 'Germany',
 0,
 4,
 2010,
 'Paraguay',
 'Spain',
 0,
 1,
 2010,
 'Netherlands',
 'Brazil',
 2,
 1,
 2010,
 'Uruguay',
 'Ghana',
 1,
 1,
 2010,
 'Paraguay',
 'Japan',
 0,
 0,
 2010,
 'Spain',
 'Portugal',
 1,
 0,
 2010,
 'Netherlands',
 'Slovakia',
 2,
 1,
 2010,
 'Brazil',
 'Chile',
 3,
 0,
 2010,
 'Germany',
 'England',
 4,
 1,
 2010,
 'Argentina',
 'Mexico',
 3,
 1,
 2010,
 'Uruguay',
 'Korea Republic',
 2,
 1,
 2010,
 'United States',
 'Ghana',
 1,
 2,
 2010,
 'Portugal',
 'Brazil',
 0,
 0,
 2010,
 'Korea DPR',
 "Côte d'Ivoire",
 0,
 3,
 2010,
 'Chile',
 'Spain',
 1,
 2,
 2010,
 'Switzerland',
 'Honduras',
 0,
 0,
 2010,
 'Paraguay',
 'New Zealand',
 0,
 0,
 2010,
 'Slovakia',
 'Italy',
 3,
 2,
 2010,
 'Denmark',
 'Japan',
 1,
 3,
 2010,
 'Cameroon',
 'Netherlands',
 1,
 2,
 2010,
 'Slovenia',
 'England',
 0,
 1,
 2010,
 'United States',
 'Algeria',
 1,
 0,
 2010,
 'Ghana',
 'Germany',
 0,
 1,
 2010,
 'Australia',
 'Serbia',
 2,
 1,
 2010,
 'Mexico',
 'Uruguay',
 0,
 1,
 2010,
 'France',
 'South Africa',
 1,
 2,
 2010,
 'Nigeria',
 'Korea Republic',
 2,
 2,
 2010,
 'Greece',
 'Argentina',
 0,
 2,
 2010,
 'Portugal',
 'Korea DPR',
 7,
 0,
 2010,
 'Chile',
 'Switzerland',
 1,
 0,
 2010,
 'Spain',
 'Honduras',
 2,
 0,
 2010,
 'Slovakia',
 'Paraguay',
 0,
 2,
 2010,
 'Italy',
 'New Zealand',
 1,
 1,
 2010,
 'Brazil',
 "Côte d'Ivoire",
 3,
 1,
 2010,
 'Netherlands',
 'Japan',
 1,
 0,
 2010,
 'Ghana',
 'Australia',
 1,
 1,
 2010,
 'Cameroon',
 'Denmark',
 1,
 2,
 2010,
 'Germany',
 'Serbia',
 0,
 1,
 2010,
 'Slovenia',
 'United States',
 2,
 2,
 2010,
 'England',
 'Algeria',
 0,
 0,
 2010,
 'Argentina',
 'Korea Republic',
 4,
 1,
 2010,
 'Greece',
 'Nigeria',
 2,
 1,
 2010,
 'France',
 'Mexico',
 0,
 2,
 2010,
 'Honduras',
 'Chile',
 0,
 1,
 2010,
 'Spain',
 'Switzerland',
 0,
 1,
 2010,
 'South Africa',
 'Uruguay',
 0,
 3,
 2010,
 'New Zealand',
 'Slovakia',
 1,
 1,
 2010,
 "Côte d'Ivoire",
 'Portugal',
 0,
 0,
 2010,
 'Brazil',
 'Korea DPR',
 2,
 1,
 2010,
 'Netherlands',
 'Denmark',
 2,
 0,
 2010,
 'Japan',
 'Cameroon',
 1,
 0,
 2010,
 'Italy',
 'Paraguay',
 1,
 1,
 2010,
 'Algeria',
 'Slovenia',
 0,
 1,
 2010,
 'Serbia',
 'Ghana',
 0,
 1,
 2010,
 'Germany',
 'Australia',
 4,
 0,
 2010,
 'Korea Republic',
 'Greece',
 2,
 0,
 2010,
 'Argentina',
 'Nigeria',
 1,
 0,
 2010,
 'England',
 'United States',
 1,
 1,
 2010,
 'South Africa',
 'Mexico',
 1,
 1,
 2010,
 'Uruguay',
 'France',
 0,
 0,
 2010,
 'Italy',
 'France',
 1,
 1,
 2006,
 'Germany',
 'Portugal',
 3,
 1,
 2006,
 'Portugal',
 'France',
 0,
 1,
 2006,
 'Germany',
 'Italy',
 0,
 2,
 2006,
 'England',
 'Portugal',
 0,
 0,
 2006,
 'Brazil',
 'France',
 0,
 1,
 2006,
 'Germany',
 'Argentina',
 1,
 1,
 2006,
 'Italy',
 'Ukraine',
 3,
 0,
 2006,
 'Brazil',
 'Ghana',
 3,
 0,
 2006,
 'Spain',
 'France',
 1,
 3,
 2006,
 'Italy',
 'Australia',
 1,
 0,
 2006,
 ...]

In [73]:
a = {'a':1,'b':2,'c':3}
for i,j in a.items():
    print(i,j)

a 1
b 2
c 3